.bg-home{
    background-color: rgba(255, 255, 255,0.9);
    height: fit-content;
    margin: 20%;
}
h1{
    color: green;
}
/* en este caso defini el color en index.css y en Home.css
queda el de Home, por que es el "ultimo" definido.
Esto hablando de gerarquia en caso que en dos componentes definamos el mismo selector en ambos archivos */